<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleadd.css">
    <title>add</title>
</head>
<body>
<div class='card-wrapper'>    
    <form action="pointsshopback.html">
      
      <div class='field'>
         Name Product<br>
        <input type='text'>
      </div>
      
      <div class='field'>
      Price<br>
      <input type="text">OTP
      </div>
      <div class='field'>
        Quantity<br>
        <input type="text">
        </div>
        <div class='field'>
            Image of the product<br><br>
            <input type="file">
            </div>
      <br>
      <br>
      <div class="containeradd">
        <div class="btn"><input type="submit" value="ADD"></div>
        <div class="btn"><input type="submit" value="CANCEL"></div>
</div>
    </form>
    
  </div>
</body>
</html>